<!doctype html>
<html>
    <head>
        <title>Blogz</title>
        <style> 
            .error {
                color: red;
            }
        </style>
    </head>
<body>
    <nav>
        <div>
            <a href="/login">login</a>&nbsp; &nbsp;
            <a href="/logout">logout</a>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
            <a href="/">home</a>&nbsp; &nbsp;
            <a href="/blog">all posts</a>&nbsp; &nbsp;
            <a href="/newpost">new post</a>
        </div>
    </nav>

    {% block content %}
    {% endblock %}

</body>
</html>