{% extends "base.html" %}

{% block content %}
<h1>Login to add new posts</h1>
<p>Don't have an account? <a href="/signup">Create Account</a></p>
<form action="/login" method="post">
    <table>
        <tr>
            <td><label for="username">Username</label></td>
            <td>
                <input name="username" type="text" value={{ username }}>
            </td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td>
                <input name="password" type="password">
            </td>
        </tr>
    </table>
    <input type="submit" value="Login"/>
</form>
{% endblock %}